body{
    background-color: #444444;
    margin: 0 !important;
    font-family: 'Rubik', sans-serif;
}
.header{
    background-color: #2e5e2e;
    font-weight: 900;
    text-align: center;
    color: white;
    height: 60px;
    align-items: center;
    font-size: 60px;
    align-items: center;
    padding: 12px 0 24px 0;
}
#quiz{
    text-align: center;
    position: relative;
    height: 180px;
    padding: 60px 0;
}
button{
    width: 320px;
    height: 180px;
    border-radius: 40px;
    background-color: #2e5e2e;
    color: white;
    font-weight: 600;
    font-size: 40px;
}