body{
    background-color: #444444;
    margin: 0 !important;
    font-family: 'Rubik', sans-serif;
    background-image: url("bg.webp");
}
.header{
    background-color:#2C5F2D;
    font-weight: 900;
    text-align: center;
    color: white;
    height: 50px;
    font-size: 50px;
    padding: 12px 0 24px 0;
}
/* inputs */
button{
    position: relative;
    top: 50px;
    width: 320px;
    height: 180px;
    border-radius: 40px;
    background-color: #2C5F2D;
    margin: auto;
    color: white;
    font-weight: 600;
    font-size: 40px;
}
select{
    height: 100px;
    width: 340px;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    background-color: #2C5F2D;
    color: white;
    margin-top: 15px;
}
select:focus{
    border: none;
}
#quiz{
    text-align: center;
    margin: auto;
    width: 700px;
    height: 580px;
    padding: 30px 0 0 0;
}
.task{
    background-image: url("bg2.jpg");
    display: grid;
    align-items: center;
    justify-items: center;
    color: #DDDDDD;
    min-height: 340px;
    width: 700px;
    margin: auto;
    font-weight: 600;
    font-size: 45px;
    -webkit-box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 1);
}
/* answer tiles */
.ans1{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: left;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;

}
.ans2{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: right;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;

}
.ans3{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: left;
    clear: both;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;

}
.ans4{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: right;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;
}
.correct{
    background-color: #44FF44;
    pointer-events:none !important;
    -webkit-box-shadow: 0px 0px 30px -5px #44FF44;
    -moz-box-shadow: 0px 0px 30px -5px #44FF44;
    box-shadow: 0px 0px 30px -5px #44FF44;
}
.wrong{
    background-color: red;
    pointer-events:none !important;
    -webkit-box-shadow: 0px 0px 30px -5px red;
    -moz-box-shadow: 0px 0px 30px -5px red;
    box-shadow: 0px 0px 30px -5px red;
}
/* answer tiles hovers */
.ans1:hover{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: left;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
}   
.ans2:hover{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: right;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
}   
.ans3:hover{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: left;
    clear: both;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
}
.ans4:hover{
    background-color: #FFE77A;
    height: 85px;
    font-size: 25px;
    width: 310px;
    display: grid;
    align-items: center;
    justify-items: center;
    float: right;
    border: 2px solid #222222;
    margin: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 1);
}   
.disb{
    pointer-events:none !important;
}
/* flags */
.flag{
    max-height: 150px;
}
.flag2{
    max-height: 85px;
}